<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <div class="user-info">
            by {{user.username}} on {{format_date created_at}}
        </div>
    </div>
    <div>{{content}}</div>
</article>